<!DOCTYPE html>
<!--[if lt IE 7 ]> <html lang="en" class="ie6" <@ if(data.htmlWebpackPlugin.files.manifest) { @> manifest="<@= data.htmlWebpackPlugin.files.manifest @>"<@ } @>> <![endif]-->
<!--[if IE 7 ]>    <html lang="en" class="ie7" <@ if(data.htmlWebpackPlugin.files.manifest) { @> manifest="<@= data.htmlWebpackPlugin.files.manifest @>"<@ } @>> <![endif]-->
<!--[if IE 8 ]>    <html lang="en" class="ie8" <@ if(data.htmlWebpackPlugin.files.manifest) { @> manifest="<@= data.htmlWebpackPlugin.files.manifest @>"<@ } @>> <![endif]-->
<!--[if IE 9 ]>    <html lang="en" class="ie9" <@ if(data.htmlWebpackPlugin.files.manifest) { @> manifest="<@= data.htmlWebpackPlugin.files.manifest @>"<@ } @>> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> <html lang="en" class="" <@ if(data.htmlWebpackPlugin.files.manifest) { @> manifest="<@= data.htmlWebpackPlugin.files.manifest @>"<@ } @>> <!--<![endif]-->
<head>
  <meta http-equiv="Content-type" content="text/html; charset=utf-8"/>
  <meta http-equiv="X-UA-Compatible" content="IE=Edge">
  <@ if (data.htmlWebpackPlugin.options.urlPort) { @>
  <script>
    // 开发环境下定位端口
    var ___pageUrl = window.location.protocol + '//' + window.location.hostname + ':<@= data.htmlWebpackPlugin.options.urlPort @>/';
  </script>
  <@ } else { @>
  <script>
    // 发布环境下定位
    var ___pageUrl = '/dist/'
  </script>
  <@ } @>

  <@ if (data.htmlWebpackPlugin.options.meta) { @>
  <@ for (var key in data.htmlWebpackPlugin.options.meta) { @>
  <meta name="<@= key @>" content="<@= data.htmlWebpackPlugin.options.meta[key] @>">
  <@ } @>
  <@ } @>

  <title><@= data.htmlWebpackPlugin.options.title || 'XWeb Home Next'@></title>

  <@ if (data.htmlWebpackPlugin.options.mobile) { @>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <@ } @>

  <link rel="shortcut icon" href="%PUBLIC_URL%/favicon.ico">
  <link rel="manifest" href="%PUBLIC_URL%/manifest.json">

  <@ for (var css in data.htmlWebpackPlugin.files.css) { @>
  <link href='<@= data.htmlWebpackPlugin.files.css[css] @>' rel="stylesheet">
  <@ } @>

  <@ if (data.htmlWebpackPlugin.options.baseHref) { @>
  <base href="<@= data.htmlWebpackPlugin.options.baseHref @>" />
  <@ } @>
</head>

<body>
<div id="react-content" style="width: 100%; height: 100%;"></div>
<script type="text/javascript">
  function getContextPath() {
    return window.location.pathname.substring(0, window.location.pathname.indexOf("/",2));
  }
  
  // TODO 判断是否需要自动刷新
  window._xweb_view_type = { viewType: 'html' };
  window._xweb_view_initialState = { initdata: 1 };

  window.___INITIAL_ENV__ = {};
  window.___INITIAL_INIT__ = {};
  window.___INITIAL_ENV__.version = '1.0.3';
  window.___INITIAL_ENV__.host = '';
  window.___INITIAL_ENV__.hostFullPath = '';
  window.___INITIAL_ENV__.baseRoot = getContextPath();
  window.___INITIAL_ENV__.appRoot = '/index';
  window.___INITIAL_ENV__.routerRoot = '/index';
</script>


<@ if (data.htmlWebpackPlugin.options.unsupportedBrowser) { @>
<style>.unsupported-browser { display: none; }</style>
<div class="unsupported-browser">
  Sorry, your browser is not supported.  Please upgrade to
  the latest version or switch your browser to use this site.
  See <a href="http://outdatedbrowser.com/">outdatedbrowser.com</a>
  for options.
</div>
<@ } @>

<@ if (data.htmlWebpackPlugin.options.appMountId) { @>
<div id="<@= data.htmlWebpackPlugin.options.appMountId@>"></div>
<@ } @>

<@ if (data.htmlWebpackPlugin.options.appMountIds && data.htmlWebpackPlugin.options.appMountIds.length > 0) { @>
<@ for (var index in data.htmlWebpackPlugin.options.appMountIds) { @>
<div id="<@= data.htmlWebpackPlugin.options.appMountIds[index]@>"></div>
<@ } @>
<@ } @>

<@ if (data.htmlWebpackPlugin.options.window) { @>
<script>
  <@ for (var varName in data.htmlWebpackPlugin.options.window) { @>
  window['<@=varName@>'] = <@= JSON.stringify(data.htmlWebpackPlugin.options.window[varName]) @>;
    <@ } @>
</script>
<@ } @>

<@ if (data.htmlWebpackPlugin.options.nodeEnv) { @>
<script>
  var window['nodeEnv'] = data.htmlWebpackPlugin.options.___env;
</script>
<@ } @>

<@ for (var chunk in data.htmlWebpackPlugin.files.chunks) { @>
<script type='text/javascript' src='<@= data.htmlWebpackPlugin.files.chunks[chunk].entry @>'></script>
<@ } @>

<@ if (data.htmlWebpackPlugin.options.devServer) { @>
<script type='text/javascript' src='<@= data.htmlWebpackPlugin.options.devServer@>/webpack-dev-server.js'></script>
<@ } @>

</body>
</html>
